{% extends 'base' %}

{% block title %} Dashboard {% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/vendors/daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="/static/vendors/chartist/chartist.min.css">
{% endblock %}

{% block body %}


<div class="row">
    
    <div class="col-12 grid-margin">
      <div class="card">
          <div class="card-body">
            <h4 class="card-title">{% if lead.id %}Edit{% else %}Create{% endif %} Lead</h4>
             
              <form method="post">
                {% csrf_token %}

                <!-- Personal Details Section -->
                <h5 class="section-title">Personal Details</h5>
                <div class="row">
                    <div class="col-md-6">
                        <label>Applicant Name</label>
                        <input type="text" class="form-control" name="name" value="{{ lead.name }}" />
                    </div>
                    <div class="col-md-6">
                        <label>Father's Name</label>
                        <input type="text" class="form-control" name="father_name" value="{{ lead.father_name }}" />
                    </div>
                    <div class="col-md-6">
                        <label>Gender</label>
                        <select class="form-control" name="gender">
                            {% for value, label in lead.GENDER_CHOICES %}
                                <option value="{{ value }}" {% if lead.gender == value %}selected{% endif %}>{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label>Marital Status</label>
                        <select class="form-control" name="marital_status">
                            {% for value, label in lead.MARITAL_STATUS_CHOICES %}
                                <option value="{{ value }}" {% if lead.marital_status == value %}selected{% endif %}>{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label>Date of Birth</label>
                        <input type="date" class="form-control" name="dob" value="{{ lead.dob|date:'Y-m-d' }}" />
                    </div>
                    <div class="col-md-6">
                        <label>Mobile No.</label>
                        <input type="text" class="form-control" name="mobile_number" value="{{ lead.mobile_number }}" />
                    </div>
                    <div class="col-md-6">
                        <label>Alternate Mobile No.</label>
                        <input type="text" class="form-control" name="alternate_number" value="{{ lead.alternate_number }}" />
                    </div>
                    <div class="col-md-6">
                        <label>Email</label>
                        <input type="email" class="form-control" name="email" value="{{ lead.email }}" />
                    </div>
                    <div class="col-md-6">
                        <label>PAN</label>
                        <input type="text" class="form-control" name="pan" value="{{ lead.pan }}" />
                    </div>
                    <div class="col-md-6">
                        <label>Aadhar Number</label>
                        <input type="text" class="form-control" name="adhar_number" value="{{ lead.adhar_number }}" />
                    </div>
                    <div class="col-md-6">
                        <label>Present Address</label>
                        <input type="text" class="form-control" name="present_address" value="{{ lead.present_address }}" />
                    </div>
                    <div class="col-md-6">
                        <label>Permanent Address</label>
                        <input type="text" class="form-control" name="permanent_address" value="{{ lead.permanent_address }}" />
                    </div>
                </div>

                <!-- Occupational Details -->
                <h5 class="section-title">Occupational Details</h5>
                <div class="row">
                    <div class="col-md-6">
                        <label>Company Name</label>
                        <input type="text" class="form-control" name="company_name" value="{{ lead.company_name }}" />
                    </div>
                    <div class="col-md-6">
                        <label>Office Address</label>
                        <input type="text" class="form-control" name="office_address" value="{{ lead.office_address }}" />
                    </div>
                    <div class="col-md-6">
                        <label>Landline No.</label>
                        <input type="text" class="form-control" name="landline_number" value="{{ lead.landline_number }}" />
                    </div>
                    <div class="col-md-6">
                        <label>Office Email</label>
                        <input type="email" class="form-control" name="office_email" value="{{ lead.office_email }}" />
                    </div>
                    <div class="col-md-6">
                        <label>Company Type</label>
                        <select class="form-control" name="company_type">
                            {% for value, label in lead.COMPANY_TYPE_CHOICES %}
                                <option value="{{ value }}" {% if lead.company_type == value %}selected{% endif %}>{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label>Company Listing</label>
                        <select class="form-control" name="company_listing">
                            {% for value, label in lead.COMPANY_LISTING_CHOICES %}
                                <option value="{{ value }}" {% if lead.company_listing == value %}selected{% endif %}>{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- Job Details -->
                <h5 class="section-title">Job Details</h5>
                <div class="row">
                    <div class="col-md-6">
                        <label>Current Position</label>
                        <input type="text" class="form-control" name="current_position" value="{{ lead.current_position }}" />
                    </div>
                    <div class="col-md-6">
                        <label>Designation</label>
                        <input type="text" class="form-control" name="designation" value="{{ lead.designation }}" />
                    </div>
                    <div class="col-md-6">
                        <label>Date of Joining</label>
                        <input type="date" class="form-control" name="doj" value="{{ lead.doj|date:'Y-m-d' }}" />
                    </div>
                    <div class="col-md-6">
                        <label>Current Experience (years)</label>
                        <input type="number" class="form-control" name="current_exp" value="{{ lead.current_exp }}" />
                    </div>
                    <div class="col-md-6">
                        <label>Total Experience (years)</label>
                        <input type="number" class="form-control" name="total_exp" value="{{ lead.total_exp }}" />
                    </div>
                    <div class="col-md-6">
                        <label>Net Monthly Salary</label>
                        <input type="text" class="form-control" name="monthly_salary" value="{{ lead.monthly_salary }}" />
                    </div>
                </div>

                <!-- Bank Details -->
                <h5 class="section-title">Bank Details</h5>
                <div class="row">
                    <div class="col-md-6">
                        <label>Bank</label>
                        <input type="text" class="form-control" name="bank" value="{{ lead.bank |default_if_none:'' }}" />
                    </div>
                    <div class="col-md-6">
                        <label>Account No.</label>
                        <input type="text" class="form-control" name="account_number" value="{{ lead.account_number |default_if_none:''  }}" />
                    </div>
                    <div class="col-md-6">
                        <label>Customer ID</label>
                        <input type="text" class="form-control" name="cutomer_id" value="{{ lead.cutomer_id |default:''  }}" />
                    </div>
                </div>

                <!-- Additional Details -->
                <h5 class="section-title">Additional Details</h5>
                <div class="row">
                    <div class="col-md-6">
                        <label>Description</label>
                        <textarea class="form-control" name="description">{{ lead.description }}</textarea>
                    </div>
                    <div class="col-md-6">
                        <label>Date</label>
                        <input type="date" class="form-control" name="date" value="{{ lead.date|date:'Y-m-d' }}" />
                    </div>
                </div>

                <button type="submit" class="btn btn-success">Save Changes</button>
                <a href="{% if lead.id %}{% url 'lead_detail' lead.id %}{% else %}{% url 'lead_list' %}{% endif %}" class="btn btn-secondary">Cancel</a>
            </form>
  
              
          </div>
      </div>
  </div>

</div>



{% block Script %}
<script src="/static/vendors/chart.js/Chart.min.js"></script>
<script src="/static/vendors/moment/moment.min.js"></script>
<script src="/static/vendors/daterangepicker/daterangepicker.js"></script>
<script src="/static/vendors/chartist/chartist.min.js"></script>
<script src="/static/js/dashboard.js"></script>

{% endblock %}

{% endblock %}