{% extends 'base' %}

{% block title %} Dashboard {% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/vendors/daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="/static/vendors/chartist/chartist.min.css">
{% endblock %}

{% block body %}

<div class="page-header">
    <h3 class="page-title"> Lead : {{ customer.name }} </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Leads</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ customer.name }}</li>
      </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Confirm Deletion</h4>
                <p class="card-description">Are you sure you want to delete this lead?</p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Yes, Delete</button>
                    <a href="{% url 'lead_detail' lead.id %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div> 

</div>



{% block Script %}
<script src="/static/vendors/chart.js/Chart.min.js"></script>
<script src="/static/vendors/moment/moment.min.js"></script>
<script src="/static/vendors/daterangepicker/daterangepicker.js"></script>
<script src="/static/vendors/chartist/chartist.min.js"></script>
<script src="/static/js/dashboard.js"></script>

{% endblock %}

{% endblock %}