{% extends 'crm/base.html' %}
{% load static %}

{% block title %}User Registration | Django Admin{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/user_form.css' %}"></link>
{% endblock %}

{% block body %}
<div class="content mt-1">
   <form method="post" novalidate id="user-reg-form">
      {% csrf_token %}

      <div class="row">
         <div class="col-12">

            <div class="card card-primary card-outline-tabs shadow-sm bg-white mb-2">
               <div class="card-header p-0 border-bottom-0 bg-white">
                  <ul class="nav nav-tabs" id="jazzmin-tabs" role="tablist">
                     <li class="nav-item" role="presentation">
                           <button class="nav-link active" id="general-tab" data-bs-toggle="tab" data-bs-target="#general"
                              type="button" role="tab">
                              General
                           </button>
                     </li>
                     <li class="nav-item" role="presentation">
                           <button class="nav-link" id="personal-tab" data-bs-toggle="tab" data-bs-target="#personal" type="button"
                              role="tab">
                              Personal info
                           </button>
                     </li>
                     <li class="nav-item" role="presentation">
                           <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                              role="tab">
                              Profile Details
                           </button>
                     </li>
                     <li class="nav-item" role="presentation">
                           <button class="nav-link" id="permissions-tab" data-bs-toggle="tab" data-bs-target="#permissions"
                              type="button" role="tab">
                              Permissions
                           </button>
                     </li>
                     <li class="nav-item" role="presentation">
                           <button class="nav-link" id="dates-tab" data-bs-toggle="tab" data-bs-target="#dates" type="button"
                              role="tab">
                              Important dates
                           </button>
                     </li>
                  </ul>
               </div>

               <div class="card-body p-2">
                  <div class="tab-content" id="jazzmin-tabs-content">

                     <div class="tab-pane fade show active" id="general" role="tabpanel">
                        <div class="row pt-2">

                           {% for fm in user_form %}

                           {% if fm.name not in 'groups,user_permissions,is_active,is_staff,is_superuser,last_login,date_joined,first_name,last_name,email' %}

                           <div class="col-md-6">
                              <div class="admin-form-row">

                                 <div class="admin-label-col">
                                    {{ fm.label_tag }}
                                 </div>

                                 <div class="admin-field-col">

                                    {% if fm.name == 'password1' or fm.name == 'password2' %}
                                    <div class="input-group">
                                       {{ fm }}
                                       <span class="input-group-text toggle-password-btn" data-target="#id_{{ fm.name }}">
                                          <i class="fa fa-eye text-muted"></i>
                                       </span>
                                    </div>
                                    {% else %}
                                       {{ fm }}
                                    {% endif %}

                                    {% if fm.help_text %}
                                    <span class="admin-help-text">
                                       {{ fm.help_text|safe }}
                                    </span>
                                    {% endif %}

                                    {% if fm.errors %}
                                    <span class="text-danger small d-block">
                                       {{ fm.errors|striptags }}
                                    </span>
                                    {% endif %}

                                 </div>

                              </div>
                           </div>

                           {% endif %}

                           {% endfor %}

                        </div>
                     </div>

                     <div class="tab-pane fade" id="personal" role="tabpanel">
                        <div class="row pt-2">

                           {% for fm in user_form %}

                           {% if fm.name == 'first_name' or fm.name == 'last_name' or fm.name == 'email' %}

                           <div class="col-md-6">
                              <div class="admin-form-row">

                                 <div class="admin-label-col">
                                    {{ fm.label_tag }}
                                 </div>

                                 <div class="admin-field-col">

                                    {{ fm }}

                                    {% if fm.help_text %}
                                    <span class="admin-help-text">
                                       {{ fm.help_text|safe }}
                                    </span>
                                    {% endif %}

                                    {% if fm.errors %}
                                    <span class="text-danger small d-block">
                                       {{ fm.errors|striptags }}
                                    </span>
                                    {% endif %}

                                 </div>

                              </div>
                           </div>

                           {% endif %}

                           {% endfor %}

                        </div>
                     </div>

                     <div class="tab-pane fade" id="profile" role="tabpanel">
                        <div class="row pt-2">
                           {% for fm in profile_form %}
                           <div class="col-md-6">
                              <div class="admin-form-row">
                                 <div class="admin-label-col">{{ fm.label_tag }}</div>
                                 <div class="admin-field-col">
                                    {{ fm }}
                                    {% if fm.errors %}<span class="text-danger small d-block">{{ fm.errors|striptags }}</span>{% endif %}
                                 </div>
                              </div>
                           </div>
                           {% endfor %}
                        </div>
                     </div>

                     <div class="tab-pane fade" id="permissions" role="tabpanel">
                        <div class="pt-2">

                           <div class="row">

                              {% for fm in user_form %}

                              {% if fm.name == 'is_active' or fm.name == 'is_staff' or fm.name == 'is_superuser' %}

                              <div class="col-md-6">

                                 <div class="admin-form-row">

                                    <div class="admin-label-col">
                                       {{ fm.label }}
                                    </div>

                                    <div class="admin-field-col">

                                       <div class="form-check">
                                          {{ fm }}
                                       </div>

                                       {% if fm.help_text %}
                                       <span class="admin-help-text">
                                          {{ fm.help_text|safe }}
                                       </span>
                                       {% endif %}

                                       {% if fm.errors %}
                                       <span class="text-danger small d-block">
                                          {{ fm.errors|striptags }}
                                       </span>
                                       {% endif %}

                                    </div>

                                 </div>

                              </div>

                              {% endif %}

                              {% endfor %}

                           </div>

                           <hr class="text-muted opacity-25 my-3">

                           <div class="admin-form-row flex-column">
                              <div class="d-flex w-100 mb-2">
                                 <div style="width: 15%; font-size: 0.85rem; color: #333333; font-weight: bold;">Groups
                                 </div>
                                 <div style="width: 85%;">
                                    <div class="selector" id="groups_selector">
                                       <div class="selector-available">
                                          <h2 class="bg-info">Available groups</h2>
                                          <div class="selector-filter"><input type="text" placeholder="Filter"
                                                class="filter-input"></div>
                                          <select multiple size="6" class="available-box">
                                             {% for group in all_groups %}
                                             <option value="{{ group.id }}">{{ group.name }}</option>
                                             {% endfor %}
                                          </select>
                                          <a href="#" class="selector-chooseall">Choose all <i
                                                class="fas fa-arrow-right-long ms-1" style="font-size:0.7rem"></i></a>
                                       </div>
                                       <div class="selector-controls">
                                          <button type="button" class="move-right btn-outline-primary"><i
                                                class="fas fa-angle-right"></i></button>
                                          <button type="button" class="move-left btn-outline-danger"><i
                                                class="fas fa-angle-left"></i></button>
                                       </div>
                                       <div class="selector-chosen">
                                          <h2 class="bg-primary">Chosen groups</h2>
                                          <div class="selector-filter"><input type="text" placeholder="Filter"
                                                class="filter-input"></div>
                                          <select multiple size="6" name="groups" id="id_groups"
                                             class="chosen-box"></select>
                                          <a href="#" class="selector-clearall"><i class="fas fa-arrow-left-long me-1"
                                                style="font-size:0.7rem"></i> Remove all</a>
                                       </div>
                                    </div>
                                    <span class="admin-help-text mt-2"><i class="fas fa-plus text-success me-1"></i> The
                                       groups this user belongs to. A user will get all permissions granted to each of
                                       their groups.</span>
                                 </div>
                              </div>
                           </div>

                           <div class="admin-form-row flex-column border-0">
                              <div class="d-flex w-100">
                                 <div style="width: 15%; font-size: 0.85rem; color: #333333; font-weight: bold;">User
                                    permissions</div>
                                 <div style="width: 85%;">
                                    <div class="selector" id="permissions_selector">
                                       <div class="selector-available">
                                          <h2 class="bg-info">Available user permissions</h2>
                                          <div class="selector-filter"><input type="text" placeholder="Filter"
                                                class="filter-input"></div>
                                          <select multiple size="10" class="available-box">
                                             {% for perm in all_permissions %}
                                             <option value="{{ perm.id }}">
                                                {{ perm.content_type.app_label|capfirst }} | {{ perm.content_type.model }} | {{ perm.name }}
                                             </option>
                                             {% endfor %}
                                          </select>
                                          <a href="#" class="selector-chooseall">Choose all <i
                                                class="fas fa-arrow-right-long ms-1" style="font-size:0.7rem"></i></a>
                                       </div>
                                       <div class="selector-controls">
                                          <button type="button" class="move-right btn-outline-primary"><i
                                                class="fas fa-angle-right"></i></button>
                                          <button type="button" class="move-left btn-outline-danger"><i
                                                class="fas fa-angle-left"></i></button>
                                       </div>
                                       <div class="selector-chosen">
                                          <h2 class="bg-primary">Chosen user permissions</h2>
                                          <div class="selector-filter"><input type="text" placeholder="Filter"
                                                class="filter-input"></div>
                                          <select multiple size="10" name="user_permissions" id="id_user_permissions"
                                             class="chosen-box"></select>
                                          <a href="#" class="selector-clearall"><i class="fas fa-arrow-left-long me-1"
                                                style="font-size:0.7rem"></i> Remove all</a>
                                       </div>
                                    </div>
                                    <span class="admin-help-text mt-2">Specific permissions for this user. Hold down
                                       "Control", or "Command" on a Mac, to select more than one.</span>
                                 </div>
                              </div>
                           </div>

                        </div>
                     </div>

                     <div class="tab-pane fade" id="dates" role="tabpanel">
                        <div class="row pt-2">
                           {% for fm in user_form %}
                           {% if fm.name == 'last_login' or fm.name == 'date_joined' %}
                           <div class="col-md-6">
                              <div class="admin-form-row">
                                 <div class="admin-label-col">{{ fm.label_tag }}</div>
                                 <div class="admin-field-col">
                                    {{ fm }}
                                    {% if fm.errors %}<span class="text-danger small d-block">{{ fm.errors|striptags }}</span>{% endif %}
                                 </div>
                              </div>
                           </div>
                           {% endif %}
                           {% endfor %}
                        </div>
                     </div>

                  </div>
               </div>
            </div>

            <div class="card card-body bg-light border-0 shadow-sm p-3 mb-5">
               <div class="d-flex justify-content-end align-items-center">
                  <a href="{% url 'user-list' %}" class="btn btn-default btn-sm border text-secondary px-3 me-2"
                     style="background: #fff;">Cancel</a>
                  <button type="submit" class="btn btn-success btn-sm px-4 fw-medium"><i class="fa fa-save me-1"></i>
                     Save</button>
               </div>
            </div>

         </div>
      </div>
   </form>
</div>
{% endblock %}

{% block Script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/form.js' %}"></script>
<script src="{% static 'js/user_form.js' %}"></script>
{% endblock %}