{% extends 'base.html' %}

{% block title %} Dashboard {% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/vendors/daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="/static/vendors/chartist/chartist.min.css">
{% endblock %}

{% block body %}
    <h1> Avinash Test </h1>
{% block Script %}
<script src="/static/vendors/chart.js/Chart.min.js"></script>
<script src="/static/vendors/moment/moment.min.js"></script>
<script src="/static/vendors/daterangepicker/daterangepicker.js"></script>
<script src="/static/vendors/chartist/chartist.min.js"></script>
<script src="/static/js/dashboard.js"></script>

{% endblock %}

{% endblock %}